%h1 Pick A Card, any Card ...
%p Just click on a card to send it!
%h3 Birthday Cards
%ul.cards
  %li.card
    %h1.title.croc Snappy Birthday!
    %a(href='/card/4')
      %img{:src=>settings.images+"/croc-th.png"}
  %li.card
    %h1.title.hippo Hippo Birthday
    %a(href='/card/3')
      %img{:src=>settings.images+"/hippo-th.png"}
      
  %li.card
    %h1.title.fish Birthday Fishes
    %a(href='/card/5')
      %img{:src=>settings.images+"/fish-th.png"}

  %li.card
    %h1.title.cake Birthday Cupcakes
    %a(href='/card/6')
      %img{:src=>settings.images+"/cupcake-th.png"}

%h3 Xmas Cards
%ul.cards
  %li.card
    %h1.title.snow Let It Snow!
    %a(href='/card/1')
      %img{:src=>settings.images+"/snowman-th.png"}
  %li.card
    %h1.title.robin Rocking Robins
    %a(href='/card/2')
      %img{:src=>settings.images+"/robins-th.png"}
