%form(action="/send" method="post")
  %fieldset.card
    %p.info Click on the title to edit it and personalize your card
    %textarea.title{:class => @card.design.name, :type=>"text", :name=>"card[title]"}= @card.design.title
    %img{:src=>settings.images+'/'+@card.design.image+'.png',:alt => @card.design.alt, :width => 640, :height => 420} 
    %textarea.message(name="card[message]" placeholder="Write a nice message here...")
    %input(type="hidden" name="id" value="#{@card.design.id}")
  
  %feildset.to
    %h1 To:
    %label(for="to")Name:<input type="text" name="card[to]" id="to" value="#{@card.to}">
    %label(for="email")Email:<input multiple type="email" name="card[email]" id="email">
    %p.info You can send this card to more than one person by writing a list of emails, separated by commas
    
  %feildset.from
    %h1 From:
    %label(for="from")Name:<input type="text" name="card[from]" id="from" value="#{@card.from}">
    %label(for="sender_email")Email:<input multiple type="email" name="card[sender_email]" id="sender_email">
    %p.info You don't have to write your email (it's only so the recipient can reply to you)
    
  %input#send.button(type="submit" value="Send")
  
  #bot
    %p Please do not change the fields below - they are to avoid spam
    %input(name="bot[email]")
    %textarea(name="bot[message]")D2
