%h1 Success!
%h2 Your Card is in the Cloud!
%p You can see it here - <a href="http://#{settings.domain+@card.url}">http://#{settings.domain+@card.url}</a>
%p A notification has been sent to the following email address(es):
%ul.sent
  - @email.split(",").each do |email|
    %li= email
%p Thanks for using Cards in the Cloud! 
%p This service is completely free. Why not make a <a href='http://uk.virginmoneygiving.com/giving/'>donation to charity</a> to say thank you?
