%h1 Your Card is now in the Cloud!
%p Your card has been delivered to #{@receiver} at the following email address(s):
%p= @email
%p You can see the card here - <a href="http://#{settings.domain+@card.url}">http://#{settings.domain+@card.url}</a>
%p Sending a Card in the Cloud is completely free. Why not make a <a href='http://uk.virginmoneygiving.com/giving/'>donation to charity</a> to say thank you?
