$bg:#fff;$color:#666;
$primary:#619FEA;
$secondary:#1757A4;
$font:'Ubuntu',Helvetica,Arial,sans-serif;
$titlefont:'Chewy',serif;
$msgfont:'Architects Daughter',sans-serif;
$hfont:'Permanent Marker',sans-serif;
$hcolor:$primary;
$hbold:false;

html,body,div,span,object,iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr,address,cite,code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub,sup,var,b,i,dl,dt,dd, ol, ul, li,fieldset, form, label, legend,table, caption,tbody,tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption,figure, footer, header, hgroup, menu, nav, section, summary,time, mark, audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary{display: block;}
body{font-family:$font;background-color:$bg;color:$color;}
h1,h2,h3,h4,h5,h6{ color:$hcolor;font-family:$hfont;margin:0;@if $hbold { font-weight: bold; } @else {font-weight: normal;}}
h1{font-size:3.6em;}h2{font-size:3em;}h3{font-size:2.4em;}
h4{font-size:1.6em;}h5{font-size:1.2em;}h6{font-size:1em;}
p{font-size:1.2em;line-height:1.5;margin-bottom:0.5em;}
ul,ol{list-style:none;}
li{font-size:1.2em;line-height:1.5;}
a,a:link,a:visited{color:inherit;}
a:hover{text-decoration:none;color:$secondary;}

html{background:$primary;}

@mixin gradient($start:#CCCCCC,$finish:darken($start,25%),$stop:1){
-webkit-background-clip: padding-box;
background-image: -moz-linear-gradient(top, $start 0%, $finish percentage($stop));
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $start),color-stop($stop, $finish));
-pie-background: linear-gradient(top, $start 0%, $finish percentage($stop));
background-image: linear-gradient(top, $start 0%, $finish percentage($stop));
behavior:url(/PIE.htc);}

header{
  padding:5px 0 16px;
  background:$primary;
  position:relative;
  @include gradient($primary, #fff);

  h1{font-size:48px;text-align:center;}
}

.content{
  padding:0 10%;
  h1{text-align:center;}
  p{margin:0 auto 0.5em;}
  .cards{overflow:hidden;
    li{float:left;margin-right:10px;
      h1{font-size:16px;}
    }
  }
}

footer{
  text-align:center;
  background:$primary;
  position:relative;
  @include gradient(white,$primary);
  color:white;
  font-size:90%;
  text-shadow: 0px 1px 0px $primary;
  clear:both;
  margin-top:20px;
  padding:40px 20px 20px;
  .logo{font-size:1.4em;padding-right:0.2em;}
}

#card{width:640px;margin:10px auto 0;}

#message{
padding:20px 10px;margin:10px auto;text-align:center;display:block;
background: #fff;border:5px solid #ccc;
font-size:32px;font-family:$msgfont;  
min-height:4em;_height:4em;width:610px;}

.croc{color:#ff6;}
.hippo{color:#a02c2c;}
.fish{color:#f6f;}
.cupcake{color:#96f;}
.snowman{color:#c00;text-shadow: 0.05em 0.05em 0 #050;}
.robins{color:#F7FB4A;text-shadow: 0.05em 0.05em 0 #F57B24;}
.duck{color:#fcf;}
.babyboy{color:#fff;}
.babygirl{color:#fff;}
.easter{color:#ff9955;text-shadow: 0.05em 0.05em 0 #4386eb;}

form#card{
  padding-bottom:2em;
  margin:0 auto;
  input{border:none;outline:none;background:none;}
  textarea.title{
  border:none;outline:none;background:none;
  height:420px;width:640px;
  overflow:hidden;resize: none;}
  #message:focus{outline:none;border:$primary 5px solid;}
  p{margin:0;font-size:0.9em;max-width:100%;color:$secondary;}
  label{
    display:block;
    margin:16px auto;
    font-size:36px;
    font-family:$msgfont;
    color:#999;
    overflow:hidden;
    input{
    font-size:32px;
    font-family:$msgfont,sans-serif;
    width:540px;
    border-bottom:#ccc dotted 3px;line-height:1em;
    float:right;
    position:relative;bottom:6px;
    }
    input:focus{background:lighten($primary,30%);outline:none;}
    textarea::-webkit-input-placeholder{text-align:center;}
    textarea:-moz-placeholder{text-align:center;}
  }
  #send{background:$primary;color:white;@include gradient($primary,$secondary);
  border:1px $secondary solid;border-radius:0.8em;position:relative;
  margin:10px auto;text-align:center;display:block;width:200px;padding:20px 10px;
  font-size:48px;text-transform:uppercase;font-weight:bold;
  text-shadow:-1px -1px 0px rgba(0,0,0,0.5);behavior:url(/PIE.htc);}
  #bot{display:none;visibility:hidden;width:0;height:0;}
}

ul.sent{width:80%;margin:20px auto;list-style:disc;color:$secondary;
li{color:$color;}}

table{
border-collapse:collapse;width:80%;
th{background:$primary;color:#fff;}
td,th{border-left:1px solid $primary;border-bottom:1px solid $primary;
text-align:center;padding:5px;}
tr{border-right:1px solid $primary;border-top:1px solid $primary;}}

//OOP
.logo,.logo:link,.logo:visited{
font-family:sniglet;
color:#fff;text-decoration:none;
text-shadow: 0px 0.15em 0.2em rgba(255,255,255,0.5);
behavior:url(/PIE.htc);
}
.logo:hover{
text-shadow: 0.1em 0.1em 0.4em rgba(255,255,255,0.7),-0.1em -0.1em 0.4em rgba(255,255,255,0.4);
behavior:url(/PIE.htc);
}

.title{
font-family:$titlefont;
text-align:center;
font-weight:bold;
font-size:64px;
letter-spacing:0.00em;
position:absolute;top:0;left:0;
width:100%;
}

.card{position:relative;a{text-decoration:none;}}
