//colours
$bg:#fff;$color:#999;
$primary:#619FEA;
$secondary:#1757A4;
$green:#006000;
$sky:#619FEA;
$blue:#1757A4;
$yellow:#ffff00;
$pink:#FD4581;
$darkpink:#852042;

$font:'Ubuntu',Helvetica,Arial,sans-serif;
$titlefont:'Chewy',serif;
$msgfont:'Architects Daughter',sans-serif;
$hfont:'Pacifico',sans-serif;
$hcolor:$blue;

html,body,div,span,object,iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr,address,cite,code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub,sup,var,b,i,dl,dt,dd, ol, ul, li,fieldset, form, label, legend,table, caption,tbody,tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption,figure, footer, header, hgroup, menu, nav, section, summary,time, mark, audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary{display: block;}
body{font-family:$font;background-color:$bg;color:$color;}
h1,h2,h3,h4,h5,h6{font-family:$hfont;margin:0;color:$hcolor;}
h1{font-size:3.6em;}h2{font-size:3em;}h3{font-size:2.4em;}
h4{font-size:1.6em;}h5{font-size:1.2em;}h6{font-size:1em;}
p{font-size:1.2em;line-height:1.4;margin-bottom:0.4em;}
ul,ol{list-style:none;}
li{font-size:1.2em;line-height:1.5;}
a,a:link,a:visited{color:inherit;}
a:hover{text-decoration:none;}

html{background:$green;}

@mixin gradient($start:#CCCCCC,$finish:darken($start,25%),$stop:1){
-webkit-background-clip: padding-box;
background-image: -moz-linear-gradient(top, $start 0%, $finish percentage($stop));
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $start),color-stop($stop, $finish));
-pie-background: linear-gradient(top, $start 0%, $finish percentage($stop));
background-image: linear-gradient(top, $start 0%, $finish percentage($stop));
behavior:url(/PIE.htc);}

@mixin clearfix{_height: 1%;*min-height: 1px;zoom: 1;
  &:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}}

header{
  padding:0px 0 50px;
  background: $sky url(top.png) 20% bottom repeat-x;
  h1{font-size:64px;text-align:center;}
}

.content{
  text-align:center;
  padding:10px 10% 170px;
  background: #fff url(bottom.png) -50% bottom repeat-x;
  
  p{margin:0 auto 0.5em;padding:0 -130%;}  
}

footer{
  text-align:center;
  background: $green url(ground.png) 40% top repeat-x;
  color:$yellow;
  font-size:90%;
  text-shadow: 0px 1px 0px darken($green,20%);
  clear:both;
  padding:90px 20px 20px;
  .logo{font-size:1.4em;padding-right:0.2em;}
  small{font-size:0.8em;}
}


.cards{
  ul {@include clearfix;}
  
  li{
  float:left;
  margin:0;padding:0;margin-right:10px;
  height:84px;
  line-height:1;font-size:1em;
  border:5px #eee solid;
  border-radius:5px;
  position:relative;
  behavior:url(/PIE.htc);
    &:hover{
    border:5px $sky solid;
      }
    a{
      display:block;
      padding:0;margin:0;
      line-height:1;}
      
    h1{font-size:16px;}
  }
}

#card{width:640px;margin:20px auto 0;}
#message{
padding:20px 10px;margin:10px auto;text-align:center;display:block;
background: #fff;
font-size:32px;font-family:$msgfont;  
min-height:4em;_height:4em;width:610px;}

.croc{color:#ff6;text-shadow: none;}
.hippo{color:#a02c2c;text-shadow: none;}
.fish{color:#F45CCA;text-shadow: none;}
.cupcake{color:#96f;text-shadow: none;}
.snowman{color:#c00;text-shadow: 0.05em 0.05em 0 #050;}
.robins{color:#F7FB4A;text-shadow: 0.05em 0.05em 0 #F57B24;}
.duck{color:#fcf;text-shadow: none;}
.babyboy{color:#fff;text-shadow: none;}
.babygirl{color:#fff;text-shadow: none;}
.easter{color:#F9C052;text-shadow: 0.05em 0.05em 0 #4386eb;}

form#card{
  padding-bottom:2em;
  input{border:none;outline:none;background:none;}
  textarea.title{
  postion:relative;top:20px;
  border:none;outline:none;background:none;
  height:420px;width:640px;
  overflow:hidden;resize:none;}
  #message{border:5px solid #ccc;
  &:focus{outline:none;border:$sky 5px solid;}}
  p{margin:0;font-size:0.9em;color:$blue;}
  label{
    display:block;
    text-align:left;
    margin:16px auto;
    font-size:36px;
    font-family:$msgfont;
    color:#999;
    overflow:hidden;
    input{
    font-size:32px;
    font-family:$msgfont,sans-serif;
    width:540px;
    border-bottom:#ccc dotted 3px;line-height:1em;
    float:right;
    position:relative;bottom:6px;
    }
    input:focus{background:lighten($sky,30%);outline:none;}
    textarea::-webkit-input-placeholder{text-align:center;}
    textarea:-moz-placeholder{text-align:center;}
  }
  #send{
  background:$pink;color:white;@include gradient($sky,$blue);
  border:1px $blue solid;border-radius:0.8em;
  position:relative;
  margin:10px auto;
  text-align:center;display:block;
  width:200px;padding:20px 10px;
  font-size:48px;
  text-transform:uppercase;font-weight:bold;
  text-shadow:-1px -1px 0px rgba(0,0,0,0.5);
  behavior:url(/PIE.htc);
  }
  
  #bot{display:none;visibility:hidden;width:0;height:0;}
}

ul.sent{width:80%;margin:20px auto;list-style:disc;color:$blue;
li{color:$color;}}

table{
border-collapse:collapse;width:80%;
th{background:$primary;color:#fff;}
td,th{border-left:1px solid $primary;border-bottom:1px solid $primary;
text-align:center;padding:5px;}
tr{border-right:1px solid $primary;border-top:1px solid $primary;}}

//OOP
.logo,.logo:link,.logo:visited{
font-family:sniglet;
color:#fff;text-decoration:none;
text-shadow: 0px 0.1em 0.1em rgba(255,255,255,0.5);
behavior:url(/PIE.htc);
}
.logo:hover{
text-shadow: 0.1em 0.1em 0.4em rgba(255,255,255,0.7),-0.1em -0.1em 0.4em rgba(255,255,255,0.4);
behavior:url(/PIE.htc);
}

.title{
font-family:$titlefont;
text-align:center;
font-weight:bold;
font-size:64px;
letter-spacing:0.00em;
position:absolute;top:0;left:0;
width:100%;
}

.category{
  color:$pink;
  text-shadow: 0.05em 0.05em 0em $darkpink;font-weight:normal;
  text-align:left;
  font-size:36px;
  -webkit-transform:rotate(-4deg);
  -moz-transform:rotate(-4deg);
  transform:rotate(-4deg);
  padding-bottom:0.5em;
  position:relative;z-index:1;line-height:1.2;
}

.card{position:relative;a{text-decoration:none;}}
